* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212;
  color: #fff;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
  color: #fff;
}

h2 {
  color: #999;
  margin-bottom: 1rem;
}

.controls {
  margin-bottom: 3rem;
  width: 90%;
  max-width: 600px;
}

.hidden {
  display: none;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 20px;
  background: #333;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 10px;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: #6a0dad;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #6a0dad;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

button:hover {
  background-color: #8a2be2;
}

#estado-info {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #999;
}